.rules {
    background-color: var(--color-background);
}

.rules-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.rule-item {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(94, 125, 99, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.rule-item h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--color-green);
}

.rule-item p {
    margin-bottom: 10px;
}

.rule-item .note {
    font-size: 0.9rem;
    font-style: italic;
    color: #888;

}
